header, nav, main, address, footer {
    display: block;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #DDE0E9;
    color: #1D2D44;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

#wrapper {
    min-width: 1200px;
    max-width: 1400px;
    background-color: #DDE0E9;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #CF8026;
    height: 400px;
    width: 100%;
    color: #DDE0E9;
    letter-spacing: 1em;
    text-align: center;
    padding: 140px 0;
    font-weight: bold;
    font-size: 20px;
}

#menu-h3 {
    text-align: center;
}

#menu-h4 {
    text-align: center;
}

#header-image {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

h1 {
    border: 1px solid #DDE0E9;
    margin: 20px 300px 50px 290px;
    
}

ul {
    background-color: rgb(240,244,248);
    text-align: center;
    height: 80px;
}

nav a {
    text-decoration: none;
    background-color: #1D2D44;
    padding-bottom: 30px;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 32px;
    font-weight: bold;
    color: white;
    font-size: 17px;
    border-style: none;
}

nav a:hover {
    background-color: #253956;
}

nav a.activePage:hover {
    background-color: #D98830;
}

li {
    display: inline-block;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
}

#introduction-menu {
    background-color: #DDE0E9;
    color: #1D2D44;
    font-size: 30px;
    text-align: center;
}

#introduction-menu a:hover {
    background-color: #C2CE12;
}

#introduction-menu h2 {
    margin-bottom: 5.5em;
    margin-top: 5.5em;
}

a {
    margin-top: 2em;
    color: #1D2D44;
    font-size: 20px;
    padding: 40px;
    text-decoration: none;
    letter-spacing: 0.1em;
    border: 1px solid silver;
}

#catering-headline {
    margin-top: 10em;
    background-color: #DDE0E9;
    color: #1D2D44;
    font-size: 30px;
    text-align: center;
}

#catering-headline h3 {
    margin-bottom: 5.5em;
    font-weight: bold;
}

#catering-headline p {
    margin-bottom: 7em;
}

#catering-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#pictureone {
    background-image: url("local.jpg");
    background-size: cover;
    width: 700px;
    height: 380px;
    border-right: 0.5px solid #DDE0E9;
    border-left: 1px solid #DDE0E9;
    margin-bottom: 30em;
}

#picturetwo {
    background-image: url("chef.jpg");
    background-size: cover;
    width: 700px;
    height: 380px;
    border-left: 0.5px solid #DDE0E9;
    border-right: 1px solid #DDE0E9;
    margin-bottom: 30em;
}

#pictureone h3 {
    margin-top: 20em;
    margin-bottom: 5px;
    color: #1D2D44;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.1em;
}

#pictureone p {
    color: #1D2D44;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
}

#picturetwo h3 {
    margin-top: 20em;
    margin-bottom: 5px;
    color: #1D2D44;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.1em;
}

#picturetwo p {
    color: #1D2D44;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
}

footer {
    text-align: center;
    clear: both;
}

.activePage {
    background-color: #CF8026;
}

/* Contact Page Styles */

#contact {
    background-color: #DDE0E9;
    color: #1D2D44;
    text-align: center;
    padding-top: 10em;
    padding-bottom: 20em;
}

form {
    width: 400px;
    background-color: #CF8026;
    padding: 17px;
    margin: 2em auto;
    border: 6px solid #DC9441;
}

label {
    float: left;
    display: block;
    font-weight: bold;
    width: 8em;
    padding-right: 1em;
}

input {
    display: block;
    width: 225px;
    height: 30px;
    margin-bottom: 2em;
}

textarea {
    display: block;
    width: 225px;
    margin-bottom: 4em;
}

#mySubmit {
    margin-left: 117px;
    width: 130px;
    background-color: #1D2D44;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

#myReset {
    margin-left: 117px;
    width: 130px;
    background-color: #1D2D44;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 6em;
}

#mySubmit:hover {
    background-color: #253956;
}

#myReset:hover {
    background-color: #253956;
}

#myState {
    margin-bottom: 2em;
}

.myContactMethodOne {
    padding: 0;
    margin: 0;
    display: inline-block;
    height: 15px;
    width: 50px;
    vertical-align: middle;
}
